/.settings/
/.project
/.project
/ct-log-autoconfigue/target/
/ct-log-autoconfigue/.classpath
/ct-log-autoconfigue/.project
/ct-log-autoconfigue/.settings
/ct-log-starter/target/
/ct-log-starter/.classpath
/ct-log-starter/.project
/ct-log-starter/.settings
